body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 16px;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}


.main-header {
    text-align: center; /* 中央揃えにする */
}

#pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px; /* カード間のスペース */
    padding: 20px;
}

.pokemon-card {
    /* border: 1px solid #ccc; */ /* JavaScriptで制御するため削除 */
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* カード全体がクリック可能であることを示す */
    transition: background-color 0.3s, border-color 0.3s, border-style 0.3s; /* 背景色と縁取りの変化を滑らかにする */
}

.is-shiny-card {
    background-color: #f0f0f0; /* 色違いの時の背景色 */
}

.pokemon-card img {
    max-width: 100px; /* 画像の最大幅を調整 */
    height: auto;
}

.pokemon-card .poke-no {
    font-size: 0.9em;
    color: #666;
}

.pokemon-card .poke-name {
    font-weight: bold;
    margin: 5px 0;
}

.pokemon-card .poke-type {
    font-size: 0.8em;
    color: #333;
}

/* スマートフォン用のスタイル */
@media (max-width: 600px) {
    #pokemon-container {
        grid-template-columns: repeat(3, 1fr); /* 3列にする */
        gap: 10px; /* カード間のスペースを少し狭くする */
        padding: 10px;
    }

    .pokemon-card {
        padding: 5px; /* 内側の余白を小さくする */
        height: auto; /* 高さを自動調整にする */
    }

    .pokemon-card img {
        max-width: 80px; /* 画像サイズを調整 */
    }

    .main-header h1 {
        font-size: 1.8em; /* ヘッダーの文字サイズを調整 */
    }

    .main-header h2 {
        font-size: 1.2em; /* サブヘッダーの文字サイズを調整 */
    }
}


.NotAquired {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 15px;
    border-radius:999px;
    margin-right: 3%;
    margin-bottom: 3%;
    padding: 3px 10px;
    

}

.show-not-acquired-only .is-shiny-card {
    display: none;
}

.NotAquired:hover{
    background-color: #9e9e9e;
}